/* @font-face {
  font-family: "iconfont"; 
  src: url('iconfont.woff2?t=1632639693450') format('woff2'),
       url('iconfont.woff?t=1632639693450') format('woff'),
       url('iconfont.ttf?t=1632639693450') format('truetype');
} */

@font-face {
  font-family: 'iconfont';  /* Project id 1334542 */
  src: url('https://at.alicdn.com/t/font_1334542_tcgbovhkdfm.woff2?t=1643426320711') format('woff2'),
       url('https://at.alicdn.com/t/font_1334542_tcgbovhkdfm.woff?t=1643426320711') format('woff'),
       url('https://at.alicdn.com/t/font_1334542_tcgbovhkdfm.ttf?t=1643426320711') format('truetype');
}

[class^="icon-zhuangxiu2"],
[class^="icon-zhuangxiu2"],
[class^="icon-shezhi"],
[class^="icon-shezhi"],
[class^="icon-zhuangxiu"],
[class^="icon-zhuangxiu"],
[class^="icon-xiaochengxu"],
[class^="icon-xiaochengxu"],
[class^="icon-xuanfuanniu"],
[class*="icon-xuanfuanniu"],
[class^="icon-logo-wechat"],
[class*="icon-logo-wechat"],
[class^="icon-dianhua-yuankuang"],
[class*="icon-dianhua-yuankuang"],
[class^="icon-fenxiang"],
[class*="icon-fenxiang"],
[class^="icon-shangpin"],
[class*="icon-shangpin"],
[class^="icon-piao"],
[class*="icon-piao"],
[class^="icon-saoma"],
[class*="icon-saoma"],
[class^="icon-xiaoyan"],
[class*="icon-xiaoyan"],
[class^="icon-fenye"],
[class*="icon-fenye"],
[class^="icon-tupian"],
[class*="icon-tupian"],
[class^="icon-biaoti"],
[class*="icon-biaoti"],
[class^="icon-dibucaidan"],
[class*="icon-dibucaidan"],
[class^="icon-lunbotu"],
[class*="icon-lunbotu"],
[class^="icon-youhuiquan"],
[class*="icon-youhuiquan"],
[class^="icon-gonggao"],
[class*="icon-gonggao"],
[class^="icon-fuwenben"],
[class*="icon-fuwenben"],
[class^="icon-liebiao"],
[class*="icon-liebiao"],
[class^="icon-video"],
[class*="icon-video"],
[class^="icon-xuanfuniu"],
[class*="icon-xuanfuniu"],
[class^="icon-tuwendaohang"],
[class*="icon-tuwendaohang"],
[class^="icon-renyuanliebiao"],
[class*="icon-renyuanliebiao"],
[class^="icon-biaoqianye2"],
[class*="icon-biaoqianye2"],
[class^="icon-weixinmendian"],
[class*="icon-weixinmendian"],
[class^="icon-tongji"],
[class*="icon-tongji"],
[class^="icon-computer_icon"],
[class*="icon-computer_icon"],
[class^="icon-shouji"],
[class*="icon-shouji"],
[class^="icon-riqishijian"],
[class*="icon-riqishijian"],
[class^="icon-tupianshangchuan"],
[class*="icon-tupianshangchuan"],
[class^="icon-address-exchange"],
[class*="icon-address-exchange"],
[class^="icon-zu"],
[class*="icon-zu"],
[class^="icon-delete"],
[class*="icon-delete"],
[class^="icon-tingzhi1"],
[class*="icon-tingzhi1"],
[class^="icon-yulan"],
[class*="icon-yulan"],
[class^="icon-zhuzhuangtu-copy"],
[class*="icon-zhuzhuangtu-copy"],
[class^="icon-yiguanzhu"],
[class*="icon-yiguanzhu"],
[class^="icon-edit"],
[class*="icon-edit"],
[class^="icon-qiyong"],
[class*="icon-qiyong"],
[class^="icon-shanchucopy"],
[class*="icon-shanchucopy"],
[class^="icon-xiazai"],
[class*="icon-xiazai"],
[class^="icon-caijizhong"],
[class*="icon-caijizhong"],
[class^="icon-caiji"],
[class*="icon-caiji"],
[class^="icon-tingzhi"],
[class*="icon-tingzhi"],
[class^="icon-fuzhi1"],
[class*="icon-fuzhi1"],
[class^="icon-copy"],
[class*="icon-copy"],
[class^="icon-iconQrcode"],
[class*="icon-iconQrcode"],
[class^="icon-dingwei"],
[class*="icon-dingwei"],
[class^="icon-duoxuan"],
[class*="icon-duoxuan"],
[class^="icon-xiala"],
[class*="icon-xiala"],
[class^="icon-dizhi"],
[class*="icon-dizhi"],
[class^="icon-fengexian"],
[class*="icon-fengexian"],
[class^="icon-pingfen"],
[class*="icon-pingfen"],
[class^="icon-danxuan"],
[class*="icon-danxuan"],
[class^="icon-paragraph"],
[class*="icon-paragraph"],
[class^="icon-shijianriqi"],
[class*="icon-shijianriqi"],
[class^="icon-shuzi"],
[class*="icon-shuzi"],
[class^="icon-tof"],
[class*="icon-tof"],
[class^="icon-jianda"],
[class*="icon-jianda"],
[class^="icon-tiankong"],
[class*="icon-tiankong"],
[class^="icon-icon-files-copy"],
[class*="icon-icon-files-copy"],
[class^="icon-textarea"],
[class*="icon-textarea"],
[class^="icon-text-copy"],
[class*="icon-text-copy"]{
	  font-family: "iconfont" !important;
	  font-size: 14px;
	  font-style: normal;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuangxiu2:before {
  content: "\e6bd";
}

.icon-zhuangxiu:before {
  content: "\e627";
}

.icon-shezhi:before {
  content: "\e840";
}

.icon-xiaochengxu:before {
  content: "\e63f";
}

.icon-xuanfuanniu:before {
  content: "\e633";
}

.icon-logo-wechat:before {
  content: "\e619";
}

.icon-dianhua-yuankuang:before {
  content: "\e8be";
}

.icon-fenxiang:before {
  content: "\e61c";
}
.icon-closeeye:before {
  content: "\e611";
}

.icon-shangpin:before {
  content: "\e613";
}

.icon-piao:before {
  content: "\e625";
}

.icon-saoma:before {
  content: "\e7bc";
}

.icon-fenye:before {
  content: "\e83c";
}

.icon-xiaoyan:before {
  content: "\e63e";
}

.icon-tupian:before {
  content: "\e794";
}

.icon-biaoti:before {
  content: "\e62b";
}

.icon-dibucaidan:before {
  content: "\e60d";
}

.icon-lunbotu:before {
  content: "\e60e";
}

.icon-youhuiquan:before {
  content: "\e690";
}

.icon-gonggao:before {
  content: "\e604";
}

.icon-fuwenben:before {
  content: "\e71a";
}

.icon-liebiao:before {
  content: "\e60f";
}

.icon-video:before {
  content: "\e601";
}

.icon-xuanfuniu:before {
  content: "\e6d6";
}

.icon-tuwendaohang:before {
  content: "\e6ec";
}

.icon-renyuanliebiao:before {
  content: "\e785";
}

.icon-biaoqianye2:before {
  content: "\e674";
}

.icon-weixinmendian:before {
  content: "\e66b";
}

.icon-tongji:before {
  content: "\e66a";
}

.icon-computer_icon:before {
  content: "\e673";
}

.icon-shouji:before {
  content: "\e68f";
}

.icon-riqishijian:before {
  content: "\e6c8";
}

.icon-tupianshangchuan:before {
  content: "\e69d";
}

.icon-address-exchange:before {
  content: "\e600";
}

.icon-zu:before {
  content: "\e60c";
}

.icon-tingzhi1:before {
  content: "\e692";
}

.icon-delete:before {
  content: "\e70a";
}

.icon-fuzhi1:before {
  content: "\e61b";
}

.icon-tingzhi:before {
  content: "\e617";
}

.icon-caiji:before {
  content: "\e618";
}

.icon-xiazai:before {
  content: "\e669";
}

.icon-yulan:before {
  content: "\e607";
}

.icon-shanchucopy:before {
  content: "\e609";
}

.icon-qiyong:before {
  content: "\e6b4";
}

.icon-edit:before {
  content: "\e77e";
}

.icon-yiguanzhu:before {
  content: "\e60b";
}

.icon-caijizhong:before {
  content: "\e715";
}

.icon-zhuzhuangtu-copy:before {
  content: "\e602";
}

.icon-xingbienv:before {
  content: "\e605";
}

.icon-xingbienan:before {
  content: "\e606";
}

.icon-copy:before {
  content: "\e610";
}

.icon-ic_image_upload:before {
  content: "\e60a";
}

.icon-iconQrcode:before {
  content: "\e75e";
}

.icon-dingwei:before {
  content: "\e793";
}

.icon-xiala:before {
  content: "\e7f4";
}

.icon-dizhi:before {
  content: "\e603";
}

.icon-fengexian:before {
  content: "\e66e";
}

.icon-pingfen:before {
  content: "\e640";
}

.icon-shijianriqi:before {
  content: "\e66f";
}

.icon-shuzi:before {
  content: "\e7f8";
}

.icon-icon-files-copy:before {
  content: "\e7f9";
}

.icon-textarea:before {
  content: "\e7fa";
}

.icon-text-copy:before {
  content: "\e7fb";
}

.icon-tiankong:before {
  content: "\e69b";
}

.icon-duoxuan:before {
  content: "\e6d3";
}

.icon-danxuan:before {
  content: "\e667";
}

.icon-paragraph:before {
  content: "\e668";
}

.icon-tof:before {
  content: "\e608";
}

.icon-jianda:before {
  content: "\e69a";
}

